name: format-check

on:
  push:
    branches:
      - 'main'
    tags: '*'
    paths:
      - "src/**"
      - "test/**"
  pull_request:
    paths:
      - "src/**"
      - "test/**"

jobs:
  runic:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: fredrikekre/runic-action@v1
        with:
          version: '1'
